.mostrar-asistencias-container {
  display: flex;
  flex-direction: column; /* Cambiado de 'flex' a 'column' para estructurar los hijos verticalmente */
  min-height: 100vh;
  background: #f0f2f5; /* O el color de fondo que prefieras */
  overflow-x: hidden; /* Elimina la barra de desplazamiento horizontal */
}

.sidebar-simulado {
  background-color: #003087; /* Un azul oscuro, ajusta el color según tu diseño */
  width: 250px; /* O el ancho que prefieras */
  padding: 20px;
  box-sizing: border-box;
  position: fixed; /* Hace que el sidebar sea fijo */
  top: 0;
  left: 0;
  bottom: 0;
}

.asistencias-cards-container {
  padding: 20px;
  margin-left: 270px; /* Ajustado para evitar el solapamiento con el sidebar */
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten en filas y columnas */
  align-items: flex-start;
  justify-content: flex-start; /* Alinea las tarjetas al inicio del contenedor */
  gap: 20px; /* Espacio entre las tarjetas */
}

.filtros-y-titulo {
  width: 100%; /* Ajusta el ancho al tamaño del sidebar más los márgenes */
  display: flex;
  justify-content: space-between; /* Asegúrate de que haya espacio entre los botones */
  padding-right: 20px; /* Añade padding para evitar que los elementos se peguen al borde */
}
.cards-alineadas {
  width: 100%; /* Ajusta el ancho al tamaño del sidebar más los márgenes */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; /* Asegúrate de que haya espacio entre los botones */
}

.filtros-y-titulo h1 {
  color: #333;
  font-size: 60px;
}

/* Estilos para los botones de filtro y agregar nuevo */
.btn-filtro {
  background-color: #d9e0f9; /* Gris claro para el fondo del botón */
  border: none;
  border-radius: 20px;
  padding: 8px 20px; /* Ajusta el padding para cambiar el tamaño de los botones */
  margin: 0 10px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s;
  font-size: 16px; /* Asegúrate de que el tamaño de fuente sea el mismo para ambos botones */
  height: 40px; /* Establece una altura fija para ambos botones */
}

.btn-filtro:hover {
  background-color: #acbeff; /* Cambio de color al pasar el mouse */
}

.filtro-combobox {
  display: flex;
  align-items: center;
}

.filtro-input {
  padding: 10px;
  border-radius: 20px;
  border: 0px;
  width: 100%; /* O un ancho específico si es necesario */
  max-width: 400px; /* Para evitar que el input sea demasiado ancho */
  background-color: #d9e0f9; /* Gris claro para el fondo del botón */
}
