.assistance-header .course-icon {
  font-size: 60px;
  color: #4f46e5;
}

.assistance-header .help-icon {
  font-size: 60px;
  color: #4f46e5;
}

.assistance-body .course-info p,
.assistance-body .requirements ul,
.assistance-body .description p {
  margin-bottom: 0.5rem;
}

.assistance-body .apply-button {
  background-color: #4f46e5;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2rem;
}

.apply-button {
  background-color: #131927;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  /* No uses position absolute a menos que sea estrictamente necesario */
  margin-top: 2rem; /* Asegura espacio entre el contenido y el botón */
}

.assistance-details {
  max-width: 1200px;
  margin: 40px auto;  
  padding: 40px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative; /* Para posicionar absolutamente los círculos */
  overflow: auto;
}

.assistance-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Alinear los elementos al principio del contenedor */
  margin-bottom: 2rem;
  font-weight: bold;
}

.assistance-title {
  font-size: 2rem; /* Tamaño de fuente grande */
}


.icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; /* Hacer los círculos perfectos */
  width: 200px; /* Tamaño del círculo */
  height: 200px; /* Tamaño del círculo */
  background-color: #e0f2fe; /* Fondo azul claro */
  position: absolute; /* Posicionamiento absoluto */
}


.icon-circle {
  display: flex;
  justify-content: center;
  right: 100px; /* Posición a la derecha del título */
  top: 20px; /* Posición en la parte superior del contenedor */
}

.help-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; /* Hacer los círculos perfectos */
  width: 50px; /* Tamaño del círculo */
  height: 50px; /* Tamaño del círculo */
  background-color: #e0f2fe; /* Fondo azul claro */
  position: absolute; /* Posicionamiento absoluto */
  right: 16px; /* Posición a la derecha del contenedor */
  bottom: 16px; /* Posición en la parte inferior del contenedor */
}

/* Estilos para los íconos dentro de los círculos */
.icon-circle > .MuiSvgIcon-root,
.help-circle > .MuiSvgIcon-root {
  color: #4f46e5; /* Color del ícono */
  font-size: 30px; /* Tamaño del ícono */
}

/* Resto de tu CSS */
