.card {
    /* ... tus otros estilos ... */
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
  }
  
  .card-image-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Asegúrate de que el ícono esté centrado verticalmente */
    width: 70px; /* Ajusta según sea necesario */
    height: 70px; /* Ajusta según sea necesario */
    border-radius: 50%; /* Esto crea el efecto circular para el contenedor */
    background-color: #E0E7FF; /* El color de fondo para el contenedor del ícono */
    margin: auto; /* Centra el contenedor si está dentro de un flexbox */
  }

  .padded-icon{
    padding-left: 80px;
  }

  .card-image {
    width: 60px; /* Ajusta el tamaño de la imagen */
    height: 60px; /* Ajusta el tamaño de la imagen */
    border-radius: 50%; /* Esto crea el efecto de imagen circular */
    object-fit: cover;
  }
  
  .card-header {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .semester {
    display: block;
    font-size: 0.9rem;
    color: #666;
  }
  
  .card-body .professor,
  .card-body .type,
  .card-body .status {
    margin-bottom: 0.5rem;
  }
  
  .status.pendiente {
    color: #EAB308; /* Yellow for pending */
  }

  .status.disponible {
    color: #22ea08; /* Yellow for pending */
  }

  .status.pendiente {
    color: #EAB308; /* Yellow for pending */
  }

  .status.finalizado {
    color: #ea0808; /* Yellow for pending */
  }

  .cointainerStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: '100%';
    height: '100vh'; 
    background-color: 'lightgrey';
    color: 'black';
    font-size: '24px' 
  }

  .view-home-student-container {
    padding: 20px;
  }
  
  .section-title {
    font-size: 24px;
    margin: 20px 0;
    text-align: center;
    font-weight: bold;
  }

  .assistance-container::-webkit-scrollbar,
  .tutorship-container::-webkit-scrollbar {
    display: none; /* Optional: Hide scrollbar for cleaner look */
  }

  /* Optional: Ensure items have a fixed width to better control layout */
  .available-assistance {
    min-width: 240px; /* Adjust based on your design */
  }

  .view-home-student-container .carousel-container {
    position: relative;
  }
  
  .view-home-student-container .carousel-controls {
    display: flex;  
    justify-content: center;
    gap: 20px;
    margin-top: 20px; /* Adjust the space between the cards and the controls */
  }
  
  .assistance-container,
  .tutorship-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
  }

  
  
  