.request-form-container {
  max-width: 800px; /* Increased width for two columns */
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
  margin-bottom: 30px;
  color: #333333;
  font-size: 24px;
}

.course-info {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.course-name,
.professor-name {
  color: #666666;
  font-size: 16px;
  flex-basis: 48%; /* Adjusts for two column */
}

.request-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.request-form .input-row {
  flex: 0 0 48%; /* each input row will take up roughly half the form's width */
  display: flex;
  flex-direction: column;
}

.request-form label {
  margin-bottom: 0.5rem;
}

.request-form input[type="text"],
.request-form input[type="email"],
.request-form input[type="number"],
.request-form select {
  width: 100%;
  padding: 0.75rem;
  border-radius: 4px;
  border: 1px solid #dddddd;
}

.request-form .optional {
  flex: 0 0 100%; /* The optional input row will take the full width */
}

.submit-row {
  flex: 0 0 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.apply-button {
  background-color: #131927;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  /* No uses position absolute a menos que sea estrictamente necesario */
  margin-top: 2rem; /* Asegura espacio entre el contenido y el botón */
}

.input-row div.toggle-switch {
  display: flex;
  gap: 10px; /* This will create a gap between the two toggle inputs */
}

.animated-selection-container {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content (if needed) */
  flex-wrap: wrap; /* Allow items to wrap as needed */
  gap: 10px; /* Adjust the gap as needed */
  padding: 10px; /* Add padding if necessary */
}

.option-button {
  padding: 10px 20px;
  border: 2px solid #4f46e5; /* Border color */
  background-color: white;
  color: #4f46e5;
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition for color and background */
  justify-content: center;
  align-items: center;
}

.option-button:hover {
  background-color: #4f46e5; /* Background color for hover */
  color: white; /* Text color for hover */
}

.option-button.selected {
  background-color: #4f46e5; /* Background color for selected */
  color: white; /* Text color for selected */
  border: 2px solid #4f46e5; /* Optional: Change border color for selected */
}

.question-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px; /* Espacio desde el último botón de opción */
}

.question-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px; /* Tamaño del botón de pregunta */
  height: 30px;
  border-radius: 50%; /* Hacerlo circular */
  border: 1px solid #4f46e5; /* Un borde para que destaque */
  background-color: #e0f2fe;
  color: #4f46e5;
  cursor: pointer;
  font-size: 18px; /* Ajusta esto según la escala de tu diseño */
  line-height: 1; /* Asegura que el signo de interrogación esté centrado */
}

.profile-photo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.profile-photo-icon {
  font-size: 40px;
  color: #4f46e5;
}

/* Responsive adjustments */
@media (max-width: 768px) {

  .animated-selection-container {
    flex-direction: column;
  }
  .question-button-container {
    margin-left: 0;
    margin-top: 10px; /* Espacio arriba del botón de pregunta en pantallas pequeñas */
  }

  .request-form-container {
    flex-direction: column;
  }
  .animated-selection-container {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .option-button {
    width: 100%; /* Full width buttons on smaller screens */
  }

  .course-info {
    flex-direction: column;
  }

  .course-name,
  .professor-name,
  .request-form .input-row,
  .submit-row {
    flex: 0 0 100%;
  }

  .form-title {
    font-size: 1.5rem;
  }

  .input-row label,
  .submit-row button {
    margin-left: 0;
    margin-right: 0;
  }

  .submit-row button {
    width: 100%;
  }

  .input-row div.toggle-switch {
    flex-direction: column; /* Stack the toggle inputs vertically on smaller screens */
  }

  .input-row div.toggle-switch label {
    margin-right: 0; /* Remove the margin to the right of labels on smaller screens */
  }
}
